faster_whisper==1.0.3
ffmpeg==1.4
ffmpeg_python==0.2.0
funasr==1.1.12
librosa==0.10.2.post1
matplotlib==3.9.2
numpy==2.1.2
scipy==1.14.1
soundfile==0.12.1
torch==2.4.1
tqdm==4.66.5
transformers==4.45.2
